*{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
    box-sizing: border-box;
  }
  
  body{
    background-image: linear-gradient(120deg,#edf7ed,#57e1e1);
    min-height: 100vh;
  }
  
  h1{
    text-align: center;
 font-size: 50px;
 color: #f46405;
 letter-spacing: 1.2px;
 margin-top: 3%;
 background-color: linear-gradient(120deg,#5ea138,#18653d);
  }
  .container{
    max-width: 800px;
    margin: auto;
    padding: 50px;
  }
  
  .txtb{
    width: 100%;
    border: none;
    border-bottom: 2px solid rgba(248, 105, 3, 0.5);
    background: none;
    padding: 10px;
    outline: none;
    font-size: 30px;
  }
  
  h3{
    font-size: 30px;
    margin: 10px 0;
  }
  
  .task{
    width: 100%;
    background: rgba(55, 156, 24, 0.5);
    padding: 18px;
    margin: 6px 0;
    overflow: hidden;
    font-size: 20px;
  }
  
  .task i{
    float: right;
    margin-left: 20px;
    cursor: pointer;
  }
  
  .comp .task{
    background: rgba(34, 141, 134, 0.5);
    color: rgb(240, 84, 6);
    font-size: 20px;
  }